@import "../base/colors";
@import "../base/font";


/******** Dimension et position ********/
#accueil {
    position: relative;
    width: 100vw;
    height : 100vh;
    
    #app-carousel {
        position: relative;
        width: 100%;
        height : 100%;

        .carousel-inner {
            position: relative;
            width: 100%;
            height : 100%;

             // Tous les enfants de .carousel inner
             & > * {
                position: relative;
                width: 100%;
                height : 100%;
            } 

            .carousel-item {
                position: relative;
                width: 100%;
                height: 100%;
                // Effet parallaxe du BG Image
                background-size: cover;
                background-attachment: fixed;

                .carousel-titre {
                    position: absolute;
                    top: 45%;
                    right: 15%;
                    left: 15%;
                    padding-top: 1.25rem;
                    padding-bottom: 1.25rem;
                    text-align: center;

                    /******** Texte ********/
                    color : $white;
                    text-transform: uppercase;

                    h1 {
                        font-size: 3.5*$defaut-font-size;
                        font-weight: 800;
                        span {
                            color : $blue;
                        }
                        /**** Animation Titre ****/
                        animation-duration: 2s;
                        animation-timing-function: ease-in-out;
                        animation-name: gaucheVersDroite;
                    }
                    p {
                        font-size: $defaut-font-size;
                        font-weight: 300;
                        /**** Animation Sousitre ****/
                        animation-duration: 2s;
                        animation-timing-function: ease-in-out;
                        animation-name: droiteVersGauche;
                    }

                }
            } 
        }
    }
}

/*********** DEFINIR ANIMATION ***********/
@keyframes gaucheVersDroite {
    0% {
        transform: translateX(-200rem);
    }

    70% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes droiteVersGauche {
    0% {
        transform: translateX(200rem);
    }

    70% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(0);
    }
}

/******** Images du Carousel ********/

#slideUne{
    background-image: url(https://images.unsplash.com/photo-1640622308122-b1b0f3cd5a7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

#slideDeux{
    background-image: url(https://images.unsplash.com/photo-1640622333305-9c0d3c9b18a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

#slideTrois{
    background-image: url(https://images.unsplash.com/photo-1627174003373-1892aff35f9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    
} 
