@import "../base/colors";
@import "../base/font";

/******** Dimension et position ********/
#accueil {
    position: relative;
    width: 100%;
    height : 70vh;
    
    #app-carousel {
        position: relative;
        width: 100%;
        height : 100%;

        .carousel-inner {
            position: relative;
            width: 100%;
            height : 100%;

            .carousel-item {
                position: relative;
                width: 100%;
                height: 100%;
            }

              // Tous les enfants de .carousel inner
              & > * {
                position: relative;
                width: 100%;
                height : 100%;
                background-size: cover;
                background-position: center;
            }

            /******** Image ********/
            #Slide1 {
                background-image: url(https://images.unsplash.com/photo-1645998976611-2c1985ca1a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60); 
            }

            #Slide2 {
                background-image: url(https://images.unsplash.com/photo-1645902718332-d2638d24b52c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
            }

            #Slide3 {
                background-image: url(https://images.unsplash.com/photo-1645799194281-a7d125ceb41f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNzd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
            }

            /******** Texte ********/
            text-transform: uppercase;
            color : $white;  
            text-align: center;

            h1 {
                font-size: 3.5*$defaut-font-size;
                font-weight: 800;
                margin-top: 30vh;

                span {
                    color : $blue;
                }
            }

            p {
                font-size: $defaut-font-size;
                font-weight: 300;
            }
        }
    }
}
